body {
    font-family: sans-serif;
}

header {
    background-color:#457452;
     padding: 20px;
    
}


main{
    background-color:#99AD9F;
    padding:30px;

}

h1 {
    text-align:left;

    color:#000000;
    padding:5px;
    margin-left:50px;
    font-size:20px;
}

p{
     text-align:right;
    border:2px solid #000000;
    color:#000000;
    padding:5px;
    margin:19px;
    margin-right:20px;
    margin-left: 340px;
    border-radius:60px;
    background-color:#7E9E89;
    font-size:15px;
}
    
main img {
    height:140px;
    width:160px;
    margin:8px;



    
}

header img {
    width:100px;
    height:60px;
}

header a {
    color: #000000;
    background-color:#7E9E89;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
    
}

footer {
    background-color:#457452;
    padding:5px;
    
    
     
}

h2 {
    border:2px solid #000000;
    background-color:#7E9E89;
    border-radius: 50px;
    padding: 5px;
    margin: 30px;
    margin-right:180px;
}

ul {
    font-size:18px;
}
